<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>타임리프</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
  <table border="1">
    <tr>
     <th>MID</th>
     <th>MNAME</th>
     <th>REGDATE</th>
    </tr>
    
    <tr th:each="member: ${list}">
      <td th:text="${member.mid}"></td>
      <td th:text="${member.mname}"></td>
      <td th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></td>
    </tr>
  </table>
  
  <hr/>
  
  <table border="1">
    <tr>
     <th>COUNT</th>
     <th>SIZE</th>
     <th>ODD/EVEN</th>
     <th>MID</th>
     <th>MNAME</th>
     <th>REGDATE</th>
    </tr>
    
    <tr th:each="member, count2 : ${list}">
      <td th:text="${count2.count}"></td> <!-- count는 1부터 시작하는 번호 -->
      <td th:text="${count2.size}"></td> <!-- size는 목록 개수(크기) =>회원수 -->
      <td th:text="${count2.odd+ '/'+ count2.even}"></td> <!-- odd는 홀수 일때 true, even은 짝수일때 true -->
      <td th:text="${member.mid}"></td>
      <td th:text="${member.mname}"></td>
      <td th:text="${member.regdate}"></td>
    </tr>
  </table>  
</body>
</html>











