<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>타임리프</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>

<script th:inline="javascript">
 /* th:inline="javascript" 타임리프 속성을 사용하면 자바스크립트 내에서 타임리프 문법을 사용할 수 있다. */
 
 var result = [[${result}]];
 alert(result);
 document.write("타임리프로 가져온값 :"+result+"<hr/>");
</script>

<script>
  var result=[[${result}]];//스프링 컨트롤러의 문자열 값 "SUCCESS"가 마치 자바스크립트 변수처럼 선언된 것을 볼수 있다.
  //th:inline속성을 사용하지 않아서 자바스크립트내에서 타임리프 사용이 제한된다.
</script>
</body>
</html>